/********************/
/****** COMMON ******/
/********************/
h1 {
  font-size: 3rem;
}
.container-text {
  width: 100%;
}
.paragraph-style0 {
  width: 80%;
  padding-top: 8rem;
  text-align: center;
}
/********************/
/****** HEADER ******/
/********************/
#liste-nav {
  display: none;
}
#liste-nav a {
  width: 300px;
  height: 50px;
  text-align: right;
}
#search {
  width: 150px;
}
#slogan {
  font-size: 1.1rem;
}
nav em {
  font: bold 0.8rem "Open Sans";
}
/***********************/
/****** SECTION-1 ******/
/***********************/
#section-1 article {
  flex-direction: column-reverse;
}
#carte{
  width: 80%;
}
/***********************/
/****** SECTION-2 ******/
/***********************/
#section-2 article {
  flex-direction: column-reverse;
}
#container-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events{
  width: 100%;
  animation: glisses 15s infinite;
  margin: 0 2rem;
}
.events img{
  width: 350px;
}
.slides{
  width: 350px;
  overflow: hidden;
}
@keyframes glisses{
  0% {
    transform: translateX(414px);
  }
  12.5% {
    transform: translateX(414px);
  }
  25% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-414px);
  }
  66% {
    transform: translateX(-414px);
  }
  75% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(414px);
  }
  100% {
    transform: translateX(414px);
  }
}

/***********************/
/******* FOOTER *******/
/***********************/
#container-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#container-article article {
  margin-top: 2rem;
}
.ancre-plus,
i {
  padding-bottom: 0;
}
